@charset "utf-8";
body {
}
footer {
    padding-top: 5px;
    background-color: #F8F022;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: oblique;
    font-variant: normal;
}
header h2 {
    color: #070700;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: italic;
    font-weight: 300;
}
.row .col-lg-12 p {
}
header {
    background-image: url(url);
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    background-color: #F8F022;
    color: #F8F022;
}



nav.container {
    background-color: #DFEC39;
}

header {
    background-image: url(../../../Downloads/header%20OFFIC.jpg);
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: #000000;
    font-style: italic;
    font-variant: normal;
    font-weight: 300;
    font-size: x-large;
    background-color: #DFEC39;
}
div.container {
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #DFEC39;
    background-image: url(../../../Downloads/header%20OFFIC.jpg);
}
.card .card-body .card-title {
    color: #F8F022;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-shadow: 1px 0px;
}
